<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="InventdbEntities" connectionString="metadata=res://*/InventDBContext.csdl|res://*/InventDBContext.ssdl|res://*/InventDBContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-QK0IVRB;initial catalog=Inventdb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>